@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <a style="text-decoration:none; padding:5px; border:1px solid grey; border-radius:4px;"
       asp-action="CreateRole" asp-controller="Administration">Create Role</a>
    @foreach (var role in Model)
    {
        <div style="margin-top:15px;">
            <hr />
            <div>
                <h5 style="margin:0px;">Role Id : @role.Id</h5>
            </div>
            <div>
                <Big>@role.Name</Big>
            </div>
            <hr />
            <div>
                <a>Edit</a>
                <span style="display:inline-block; width:20px; text-align:center;color:#ccc;"> | </span>
                <a onclick="return confirm('Please confirm your action! to delete : @role.Name');">Delete</a>
            </div>
            <hr />
        </div>
    }
}
else
{
    // this view did not recieve any roles
    <div>
        <div class="">
            No roles created yet
        </div>
        <div class="">
            <h5 class="">Use the button below to create a role</h5>
            <a class="" asp-action="CreateRole" asp-controller="Administration"
               style="text-decoration:none; padding:5px; border:1px solid grey; border-radius:4px;">
                Create role
            </a>
        </div>
    </div>
}