@model EditUserViewModel
@{
    ViewBag.Title = "Edit user";
    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "pix1.jpg");
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <form class="" method="post" asp-action="edit">
        <input asp-for="UserId" hidden />
        <p>
            <input asp-for="FirstName" placeholder="First Name" autofocus />
            <input asp-for="LastName" placeholder="Last Name" />
        </p>
        <p>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
            </select>
        </p>
        <p>
            <input asp-for="Pix" />
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
        <img src="@photoPath" width="150" asp-append-version="true" />
    </form>
</div>