@model EditUserViewModel

<div class="p-4">
    <div><big><b>User Roles</b></big></div>
    <div>
        @if (Model.Roles.Any())
        {
        <ol>
            @foreach(var role in Model.Roles)
            {
            <li>&nbsp; @role</li>
            }
        </ol>
        }
        else
        {
            <h5>None at the moment</h5>
        }
        <div>
            <a class="btn btn-primary" asp-action="ManageUserRoles" 
               asp-route-userId="@Model.UserId"  asp-controller="Administration">Manage Roles</a>
        </div>
    </div>
</div>
<hr/>