@model EditUserViewModel

<div class="p-4">
    <div><big><b>User Claims</b></big></div>
    <div>
        @if (Model.Claims.Any())
        {
            <ol>
                @foreach (var claim in Model.Claims)
                {
                    <li>&nbsp; @claim</li>
                }
            </ol>
        }
        else
        {
            <h5>None at the moment</h5>
        }
        <div>
            <a asp-action="ManageUserClaims" asp-route-userId="@Model.UserId" asp-controller="Administration"
              class="btn btn-primary" >Manage Claims</a>
        </div>
    </div>
</div>