@{ 
    ViewBag.Title = "Access Denied";
    Layout = null;
}

<div style="text-align:center; margin-top:15%;">
    <img src="~/images/no-access.png" style="width:300px" />
    <p style="color:#f66">
        You do not have permission to view this resource
    </p>
    <a href="javascript:void()" onclick="window.history.back()">Go back</a>
</div>