@model ChangePasswordViewModel

<h2>Change Password</h2>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
</div>