@{
    ViewBag.Title = "Change Password";
    Layout = "../Administration/_AdminLayout";
}


<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@ViewContext.RouteData.Values["controller"].ToString()</a></li>
                        <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row pl-3 pr-3">

        <!-- left column -->
        <div class="col-12">
            <!-- general form elements -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Get a new password easily, just enter your old password and confirm new password.</h3>
                </div>
                <div class="card-body text-center">
                    <p>
                        <i class="fa fa-check-circle text-success" style="font-size:10vh;"></i>
                    </p>
                    <h2>
                        Password successfully changed!
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>