@model ForgotPasswordViewModel

<h2>Forgot Password</h2>
<hr/>
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <p>
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </p>            
            <button type="submit">Submit</button>
        </form>
    </div>
</div>