@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "../Account/_AccountLayout";
}


<div class="login-box">
    <div class="s-logo">
        <a href="#"><b> Admin </b> BoilerP</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <center>
                <h4 class="text-teal">@ViewBag.Title Message</h4>
                <hr />
                <i class="fa fa-envelope text-teal m-3" style="font-size:70px;"></i>
                <p>
                    If you have an account with us, we have sent an email with the instructions to
                    reset your password.
                </p>
                <div><i class="fa fa-arrow-left text-primary"></i> <a href="#" onclick="window.history.back()">Back</a></div>
            </center>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>