@{
    ViewBag.Title = "Password Reset Confirmation";
    Layout = "../Account/_AccountLayout";
}

<div class="login-box">
    <div class="s-logo">
        <a href="#"><b> Admin </b> BoilerP</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <center>
                <h4 class="text-teal">@ViewBag.Title</h4>
                <hr />
                <i class="fa fa-check-circle text-teal m-3" style="font-size:70px;"></i>
                <p>
                    Your password has been reset, Please click <a asp-action="Login">here to login</a>
                </p>
                <div><a asp-action="Login" asp-controller="Account">Login</a> <i class="fa fa-arrow-right text-primary"></i></div>
            </center>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
