@model ResetPasswordViewModel
@{
    // Forgot password
    // Forgot password confirmation
    // Reset password
    // Reset password confirmation

    ViewBag.Title = "Reset Password";
    Layout = "_AccountLayout";
}


<div class="login-box">
    <div class="s-logo">
        <a href="#"><b> Admin </b> BoilerP</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg text-info">RESET PASSWORD [@ViewBag.Email]</p>

            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <div class="input-group mb-3">
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confrim Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Reset</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>