@model ResetPasswordViewModel

    <h2>Reset Password for this email: @ViewBag.Email</h2>
<hr />

<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <p>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </p>
            <p>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </p>
            <button type="submit">Reset</button>
        </form>
    </div>
</div>